  
  // MEDIA QUERY BREAKPOINTS
  $breakpoints: (
    sm : 540px,
    md: 768px,
    lg : 1024px,
    xl : 1280px    
  );
  
  // MEDIA QUERY DEFINITIONS
  @mixin media-up($breakpoint){
    @media screen and (min-width: map-get($breakpoints, $breakpoint)){
      @content; 
    }
  }
  
  $xs:540px;
  $md: 768px;
  $lg: 1024px;
  $xl: 1220px;

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  border: dashed 1px black;
  height: 90%;
  width: 90%;

  @media screen and (max-width: $xs) {
    position: absolute;
    top: 1;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 0;
  }
}

.title{
  /* border: dashed 0.5px red; */
  font-variant: small-caps;
  margin-top: 3vh;
  text-align: center;
  font-size: 3em;
  max-width: 300px;
  /* overflow-x: auto; */
}


.input-control {
  min-width: 300px;
  display: grid;
  grid-gap: 50px 50px;
  grid-template-rows: 50% 5% 25%;
  text-align: center;
  justify-content: space-evenly;
  height: 70%;
}

.input-image{
  /* border: solid black 1px; */
  margin-top: 5vh;
  min-height: 200px;
  max-height: 200px;
}

.input-value{
  font-size: 40px;
  max-width: 300px;
}

/* for "worder" */
.worder-control {
  min-width: 300px;
  /* border: solid red 1px; */
  text-align: center;
  /* height: 500px; */
}

.word-list{
  margin-top: 2vh;
  /* border: solid 1px black; */
  // /* height: 80%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.word{
  width: 95%;
  padding-left: 10px;
  height: 30px;
  margin-bottom: 4px;
  background-color: azure;
  border: solid gray 1px;
  border-radius: 3%;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

#del-icon{
  position: absolute;
  right: 10px;
  top:30%;

}

.right-arrow {
  position: absolute;
  bottom: 17%;
  right: 33%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  bottom: 17%;
  left: 33%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  position: absolute;
  opacity: 0;
  transition-duration: 1s ease;
  z-index: -1;
}

.slide.active {
  z-index: 0;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
