// BODY GENERAL CSS CODE
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// MEDIA QUERY BREAKPOINTS
$breakpoints: (
  sm : 540px,
  md: 768px,
  lg : 1024px,
  xl : 1280px    
);

// MEDIA QUERY DEFINITIONS
@mixin media-up($breakpoint){
  @media screen and (min-width: map-get($breakpoints, $breakpoint)){
    @content; 
  }
}
#header{
  height: 7.3vh;
  @include media-up(md){
   height: 7vh;
  }
}

//HOME PAGES
//tab
#home-tabs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

// DASHBOARD PAGE
.modulo-container{
  min-height: 120vh;
  overflow-y: auto;

  .alert-info{
    position: relative !important;
    top: -50px !important;
  }

  .modulo-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .modulo-card{
      min-width: 400px;
      border: 2px solid lightblue;
      border-radius: 1%;
      padding: 15px 15px 15px 15px;
      margin-bottom: 1vh;

      @include media-up(md){
        min-width: 600px;
        max-width: 600px;
        padding: 25px 25px 25px 25px;
      }

      @include media-up(lg){
        max-width: 800px;
      }
    }
  }
}

// INDICATOR PAGE
.indicador-container{
  min-height: 140vh;
  overflow-y:scroll;
  padding: 5px 5px 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-up(md){
    max-width: 70vw;
  }

  // => indicator (chart) tab
  .indicator-container{
    display: flex;
    flex-direction: column;
    width: 100%;

    .context-container{
      @include media-up(md){
        width: 50%;
      }
    }
    .chart-container{
      @include media-up(lg){
        width: 50%;
      }
    }
  }

  // => inputs tab
  .inputs-container{

    .inputs-faltantes{

    }
    
    .inputs-existentes{

    }
  }

  // => documentation tab
  .documentation-container{

  }

  // => sample tab
  .sample-container{

  }
}

// -- LAB PAGES
.lab-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .indicator-card{
    box-shadow: 5px;
  }
}

// LOGIN SIGNUP PAGES
.sign-forms{
  height: 80vh;
  
  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  
    .error-text {
      color: #ff0000;
    }
  }
}


// LAYOUT COMPONENTS
#footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: solid 0.5px darkgray;
  font-weight: 600;
  height: 7vh;
  * {
    text-decoration: none;
  }

  @include media-up(md){
    position: static;
    height: 15vh;
  }
}


//Sign forms pages
