

.modulo-container{
  padding: 2vh 2vw 2vh 2vw;
  min-height: 140vh;
  overflow-y: auto;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.error-text {
  color: #ff0000;
}

.modulo-list{
  display: flex;
  flex-wrap: wrap;
}

.modulo-card{
  width: 400px;
  border: 2px solid lightblue;
  border-radius: 1%;
  padding: 15px 15px 15px 15px;
  margin-bottom: 1vh;
}

.indicadores-container{
  /* margin-left: 3vw; */
}

#modulo-indicadores{
  display: flex;
  justify-content: space-around;
}

.inner-modulo{
  padding: 2vh 2vw 2vh 2vw;
  
}
.tab-indicator{
  display: inline;
  overflow-x: auto;
  font-size: 0.6em;
  margin-top: 0.7vh;
  
}

#footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 0.5px darkgray;
  font-weight: 600;
  height: 7vh;
}

#footer * {
  text-decoration: none;
}