.navbar-brand {
  font-size: large;
  font-weight: 900;
}

.modulo-container{
  padding: 2vh 2vw 2vh 2vw;
  min-height: 140vh;
  overflow-y: auto;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.error-text {
  color: #ff0000;
}

.modulo-list{
  display: flex;
  flex-wrap: wrap;
}

.modulo-card{
  width: 400px;
  border: 2px solid lightblue;
  border-radius: 1%;
  padding: 15px 15px 15px 15px;
  margin-bottom: 1vh;
}

.indicadores-container{
  /* margin-left: 3vw; */
}

#modulo-indicadores{
  display: flex;
  justify-content: space-around;
}

.inner-modulo{
  padding: 2vh 2vw 2vh 2vw;
  
}
  

#footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

#footer .me-auto{
  display: flex;
  justify-content: space-between;
  align-items: center;
}